<footer class="py-5 text-center">
	<p>Copyright Projet 4 | © Stripe - Paiement 100% sécurisé</p>
	<a href="https://www.ticketlouvre.fr/louvre/b2c/index.cfm/CGVNT">Condition générales de vente</a> | 
	<a href="https://www.louvre.fr/mentions-l%C3%A9gales">Mentions légales</a>
</footer>