
.joconde-pic {
    margin-top: 30px;
    margin-left: 30px;
    max-width: 550px;
    max-height: 550px;
    border-radius: 2%;
    border-style: solid;
}

.louvre-logo {
    margin-top: 1.5rem;
    width: 100%;
    border-style: solid;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 0.3rem;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: #484e55
}

.joconde-picture {
    max-width: 550px;
    max-height: 550px;
    border-radius: 2%;
    border-style: solid;
}

.text-center {
    text-align: center !important;
}

.jumbotronbis {
    border: 1px solid rgba(0,0,0,0.6);
    padding: 0rem 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-color: #1c1e22;
    border-radius: 0.3rem;
}

/*.jumbotron {
    /* padding: 4rem 2rem; */
/*}

