
.joconde-pic {
    margin-top: 30px;
    margin-left: 30px;
    max-width: 550px;
    max-height: 550px;
    border-radius: 2%;
    border-style: solid;
}

.louvre-logo {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 30%;
    border-style: solid;
}

.presentation {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: #484e55
}

.joconde-picture {
    max-width: 550px;
    max-height: 550px;
    border-radius: 2%;
    border-style: solid;
}

