{% extends 'base.html.twig' %}

{% block title %}Billetterie{% endblock %}


{% block body %}
    <div class="jumbotron text-center">
    <h1 class="display-4">Bienvenue sur la billetterie du musée du Louvre</h1>
    <P class "lead">Le musée du Louvre vous accueille tous les jours, sauf les mardis et quelques jours fériés (les 1er mai, 1er novembre et 25 décembre),<br>
    de 9h à 18h, jusqu'à 21h45 les jeudis et vendredis.<br>
    La fermeture des salles débute à 17h30 et à 21h30 les jeudis et vendredis.</p>
    <br>
    </div>
    <h2>Acheter vos billets électroniques</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Suivant</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

 

{% endblock %}
