{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la billetterie du Musée du Louvre{% endblock %}

{% block body %}

<section class="articles">
<img scr="http://placehold.it/350x150" alt="">
<p>test</p>

</section>

{% endblock %}
